<h3>Evidence</h3>

<div class="p-1 border">
    <label>Datum: <input type="date" /></label>
    <label>Náklady: <input type="number" /></label><br />
    <label>Výnosy: <input type="number"</label>
    <button>Přidat</button>
</div>

<div class="my-3 p-1 border">
    <button>Zobraz vše</button>
    <button>Počet záznamů</button>
    <button>Statistiky</button>
</div>

<div class="my-3 p-1 border">
    <p></p>
</div>

@code {

}
